@charset "UTF-8";
/* =========================================================
color codes
blue = #2298d8; rgb(34,152,216)
gray = #ccc; rgba(0,0,0,0.5)
============================================================ */
/* Global Variables ======================================== */
/* color bar underneath titles */
/* outline and font color */
/* rollover color */
/* Fonts =================================================== */
@font-face {
  font-family: 'Roboto';
  src: url("./fonts/text_fonts/Roboto-Regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Regular"), local("Roboto-Regular"), url("./fonts/text_fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/text_fonts/Roboto-Regular.woff2") format("woff2"), url("./fonts/text_fonts/Roboto-Regular.woff") format("woff"), url("./fonts/text_fonts/Roboto-Regular.ttf") format("truetype"), url("./fonts/text_fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("./fonts/text_fonts/Roboto-Bold.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"), url("./fonts/text_fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/text_fonts/Roboto-Bold.woff2") format("woff2"), url("./fonts/text_fonts/Roboto-Bold.woff") format("woff"), url("./fonts/text_fonts/Roboto-Bold.ttf") format("truetype"), url("./fonts/text_fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("./fonts/text_fonts/Roboto-Italic.eot");
  src: local("Roboto Italic"), local("Roboto-Italic"), url("./fonts/text_fonts/Roboto-Italic.eot?#iefix") format("embedded-opentype"), url("./fonts/text_fonts/Roboto-Italic.woff2") format("woff2"), url("./fonts/text_fonts/Roboto-Italic.woff") format("woff"), url("./fonts/text_fonts/Roboto-Italic.ttf") format("truetype"), url("./fonts/text_fonts/Roboto-Italic.svg#Roboto-Italic") format("svg");
  font-weight: normal;
  font-style: italic; }

/*
@font-face {
  font-family: 'Roboto Lt';
  src: url("./fonts/text_fonts/Roboto-Medium.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"), url("./fonts/text_fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("./fonts/text_fonts/Roboto-Medium.woff2") format("woff2"), url("./fonts/text_fonts/Roboto-Medium.woff") format("woff"), url("./fonts/text_fonts/Roboto-Medium.ttf") format("truetype"), url("./fonts/text_fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }
  */
@font-face {
  font-family: 'Roboto Lt';
  src: url("./fonts/text_fonts/Roboto-Light.eot");
  src: local("Roboto Light"), local("Roboto-Light"), url("./fonts/text_fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/text_fonts/Roboto-Light.woff2") format("woff2"), url("./fonts/text_fonts/Roboto-Light.woff") format("woff"), url("./fonts/text_fonts/Roboto-Light.ttf") format("truetype"), url("./fonts/text_fonts/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Th';
  src: url("./fonts/text_fonts/Roboto-Thin.eot");
  src: local("Roboto Thin"), local("Roboto-Thin"), url("./fonts/text_fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("./fonts/text_fonts/Roboto-Thin.woff2") format("woff2"), url("./fonts/text_fonts/Roboto-Thin.woff") format("woff"), url("./fonts/text_fonts/Roboto-Thin.ttf") format("truetype"), url("./fonts/text_fonts/Roboto-Thin.svg#Roboto-Thin") format("svg");
  font-weight: 100;
  font-style: normal; }

/* Responsive  Styles ====================================== */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px; }

.row {
  float: left;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px; }

/* for mobile handset devices */
[class*="col-"] {
  width: 100%; }

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  float: left; }

@media only screen and (min-width: 400px) {
  .col-xs-1 {
    width: 8.33%; }
  .col-xs-2 {
    width: 16.66%; }
  .col-xs-3 {
    width: 25%; }
  .col-xs-4 {
    width: 33.33%; }
  .col-xs-5 {
    width: 41.66%; }
  .col-xs-6 {
    width: 50%; }
  .col-xs-7 {
    width: 58.33%; }
  .col-xs-8 {
    width: 66.66%; }
  .col-xs-9 {
    width: 75%; }
  .col-xs-10 {
    width: 83.33%; }
  .col-xs-11 {
    width: 91.66%; }
  .col-xs-12 {
    width: 100%; } }

@media only screen and (min-width: 600px) {
  .container {
    width: 590px; }
  .col-sm-1 {
    width: 8.33%; }
  .col-sm-2 {
    width: 16.66%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33%; }
  .col-sm-5 {
    width: 41.66%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33%; }
  .col-sm-8 {
    width: 66.66%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33%; }
  .col-sm-11 {
    width: 91.66%; }
  .col-sm-12 {
    width: 100%; } }

@media only screen and (min-width: 768px) {
  .container {
    width: 750px; }
  .col-md-1 {
    width: 8.33%; }
  .col-md-2 {
    width: 16.66%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33%; }
  .col-md-5 {
    width: 41.66%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33%; }
  .col-md-8 {
    width: 66.66%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33%; }
  .col-md-11 {
    width: 91.66%; }
  .col-md-12 {
    width: 100%; } }

@media only screen and (min-width: 992px) {
  .container {
    width: 970px; }
  .col-lg-1 {
    width: 8.33%; }
  .col-lg-2 {
    width: 16.66%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33%; }
  .col-lg-5 {
    width: 41.66%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33%; }
  .col-lg-8 {
    width: 66.66%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33%; }
  .col-lg-11 {
    width: 91.66%; }
  .col-lg-12 {
    width: 100%; } }

@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px; }
  .col-xl-1 {
    width: 8.33%; }
  .col-xl-2 {
    width: 16.66%; }
  .col-xl-3 {
    width: 25%; }
  .col-xl-4 {
    width: 33.33%; }
  .col-xl-5 {
    width: 41.66%; }
  .col-xl-6 {
    width: 50%; }
  .col-xl-7 {
    width: 58.33%; }
  .col-xl-8 {
    width: 66.66%; }
  .col-xl-9 {
    width: 75%; }
  .col-xl-10 {
    width: 83.33%; }
  .col-xl-11 {
    width: 91.66%; }
  .col-xl-12 {
    width: 100%; } }

/* Form Styles =============================================== */
form .three-inputs-wrapper {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0; }

form .form-input {
  box-sizing: border-box;
  padding: 0 15px; }

/* Global Styles =========================================== */
.clear-fix {
  clear: both; }

.align-right {
  float: right; }

.align-left {
  float: left; }

em, h1 {
  font-weight: inherit;
  font-style: inherit; }

h1 {
  display: inline-block;
  font-size: inherit;
  margin: 0; }

h2 {
  font-family: "Work Sans";
  font-size: 2em;
  margin: 0 auto 20px;
  display: inline-block;
  padding-bottom: 20px;
  text-transform: uppercase;
  line-height: 42px; }
  h2.contact-me {
    color: #fff; }
  h2 span {
    position: relative;
    float: left;
    top: 20px;
    left: 15%;
    width: 70%;
    height: 1px;
    border-bottom: 1px solid #2298d8; }

h4 {
  margin-top: 50px;
  font-size: 1.1em;
  font-weight: 300;
  letter-spacing: 1.2px; }

p {
  padding: 1.2em 2em;
  line-height: 1.5em; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 1em;
  /*	overflow:hidden; */
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #2298d8; }
  a:hover {
    color: rgba(34, 152, 216, 0.5); }

.portfolio-body {
  height: 100%; }

.wrapper {
  width: 100%;
  height: 100%;
  display: table; }

.subWrapper {
  width: 100%;
  display: table-cell;
  vertical-align: middle; }

input, textarea, button {
  cursor: pointer;
  background: transparent;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #2298d8;
  border: 1px solid #2298d8;
  box-sizing: border-box;
  font-size: 14px;
  text-align: left;
  line-height: 20px;
  padding-left: 15px;
  vertical-align: baseline; }

input {
  display: inline-block;
  padding-left: 15px !important;
  min-height: 46px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 100%; }

textarea {
  display: inline-block;
  padding: 15px;
  width: 100%;
  max-width: 100%; }

button {
  padding: 15px 20px;
  text-transform: uppercase;
  text-align: center; }
  button:hover {
    color: rgba(34, 152, 216, 0.5);
    border-color: rgba(34, 152, 216, 0.5); }
  button:focus {
    outline: #000 dotted; }

#main {
  text-align: center; }
  #main:focus {
    border: none;
    outline: none; }

@media screen and (max-width: 600px) {
  html {
    font-size: 12px; } }

@media screen and (max-width: 400px) {
  html {
    font-size: 10px; } }

.mainContentBox {
  height: 100%;
  overflow: auto;
  position: relative;
  /* opacity: 0; */
  transition: opacity 1s;
  z-index: 200;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box; }
  .mainContentBox .mCSB_container {
    width: 100% !important; }

/* Introduction  ============================================ */
.sectionIntro {
  position: relative;
  transition: filter 1s, opacity 1s;
  color: #2298d8;
  height: 100vh;
  /* -------------- role-title -------------*/
  /* -------------- my-roles -------------*/ }
  .sectionIntro.hidden {
    opacity: 0; }
  .sectionIntro .office-bg {
    background: url("../img/office_bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .2;
    transition: filter 1s; }
    .sectionIntro .office-bg.blured {
      filter: blur(20px); }
  .sectionIntro .btnNext {
    cursor: pointer; }

@keyframes bouncingArrow {
  0% {
    margin-top: 0px; }
  100% {
    margin-top: 10px; } }
    .sectionIntro .btnNext .bouncing-arrow {
      animation-name: bouncingArrow;
      animation-duration: .5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-direction: alternate;
      color: #fff;
      display: inline-block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      transition: margin-top 1s; }
      .sectionIntro .btnNext .bouncing-arrow:hover {
        color: rgba(34, 152, 216, 0.5); }
  .sectionIntro .intro-title {
    color: #fff;
    display: inline-block;
    font-family: 'Roboto Th', Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    letter-spacing: .1em;
    font-size: 4em;
    position: relative;
    top: -80px;
    opacity: 1;
    transition: top 1s, opacity 1s;
    transition-delay: .3s; }
    .sectionIntro .intro-title em {
      font-family: 'Montserrat', Arial, sans-serif;
      font-weight: normal;
      font-style: normal;
      text-transform: uppercase; }
  .sectionIntro.hidden .intro-title, .sectionIntro.hidden .my-roles {
    opacity: 0; }
  .sectionIntro .my-roles {
    display: inline-block;
    font-size: 1.7em;
    font-family: 'Roboto Lt', Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 35px;
    opacity: 1;
    transition: opacity 1s, top 1s;
    transition-delay: .3s;
    position: relative;
    top: -80px; }
    .sectionIntro .my-roles h1 {
      color: #fff; }
      .sectionIntro .my-roles h1 span {
        margin-right: 10px; }
      .sectionIntro .my-roles h1 .role-title {
        font-weight: normal;
        font-size: inherit;
        color: #2298d8;
        text-transform: uppercase; }
    .sectionIntro .my-roles #location:hover {
      cursor: pointer;
      color: #2298d8; }
    .sectionIntro .my-roles em {
      display: inline-block;
      position: relative;
      transition: none; }
      .sectionIntro .my-roles em .under-lined {
        position: absolute;
        height: 2px;
        bottom: 0;
        left: 0;
        opacity: 1;
        overflow: hidden;
        transition: opacity 1s, width 1s, margin 1s;
        width: 100%; }
        .sectionIntro .my-roles em .under-lined:after {
          border-bottom: 2px dotted #2298d8;
          content: "";
          display: block;
          position: absolute;
          height: 1px;
          width: 200%;
          top: 0;
          left: 2px; }

.sectionIntro .statusUXDesigner, .sectionIntro .statusFrontDev {
  color: #ffff00;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-family: 'Stark', Arial, sans-serif;
  font-weight: normal;
  font-style: normal; }

.sectionIntro .statusUXDesigner {
  margin-right: 15px; }

.sectionIntro .statusFrontDev {
  margin-left: 18px;
  margin-right: 15px; }

.wrapperBtnNextSection {
  position: absolute;
  bottom: 15%;
  display: block;
  color: #fff;
  opacity: 1;
  z-index: 1;
  height: 70px;
  width: 100%;
  text-align: center;
  transition: bottom 1s, opacity 1s, transform 1s; }

.wrapperBtnNextSection.beginningStep {
  bottom: 50px;
  opacity: 0;
  /*transform:scale(0);*/
  /*bottom:120px;*/ }

.subWrapperBtnNextSection {
  display: inline-block;
  font-size: 2em;
  width: 70px;
  height: 70px;
  transition: transform .5s; }

.subWrapperBtnNextSection:hover {
  cursor: pointer; }

html:not(.can-touch) .subWrapperBtnNextSection:hover {
  color: #ffff00; }

@media screen and (max-width: 800px) {
  .subWrapperBtnNextSection .btnNextSection.movingArrow {
    animation: none; } }

/* Custom Scrollber Overrides ===========================+*/
.mCSB_inside > .mCSB_container {
  margin-right: 20px !important; }

/* .mCustomScrollBar .mCSB_dragger .mCSB_draggerRail{ width: 6px; } */
/* About Me  ============================================ */
#aboutMe {
  background-color: #fff;
  padding: 90px 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: block;
  box-sizing: border-box; }
  #aboutMe .resume {
    display: inline-block;
    border: 1px solid #2298d8;
    border-radius: 4px;
    color: #2298d8;
    visibility: hidden;
    width: 1px;
    /* width:60px; */
    /* height:60px; */
    opacity: 0;
    margin-right: 0px;
    margin-left: 0px;
    z-index: 1;
    vertical-align: middle; }
    #aboutMe .resume:hover {
      border-color: rgba(34, 152, 216, 0.5);
      color: rgba(34, 152, 216, 0.5); }
      #aboutMe .resume:hover svg {
        color: rgba(34, 152, 216, 0.5); }
    #aboutMe .resume span {
      width: 100%;
      display: table-cell;
      vertical-align: middle;
      padding: 10px; }
    #aboutMe .resume svg {
      font-size: 40px;
      color: #2298d8;
      margin-left: 5px; }

/* Main-Menu  ============================================== */
.mainMenu {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 300; }

.mainMenu {
  opacity: 0;
  background-color: #fff;
  transform: scale(1.2);
  transition: opacity .5s, transform .5s;
  transform-origin: right top 0; }

/*
@media screen and (max-width: 700px;) {
  .mainMenu { background-color: #fff; }
}
*/
.mainMenu.visible {
  opacity: 1;
  transform: scale(1); }

/* --------- ENDORSEMENTS ------------- */
.endorsementWrapper, .mainMenuLinks {
  height: 50%;
  top: 25%;
  position: absolute; }

.endorsementWrapper {
  background-color: rgba(0, 0, 0, 0.1);
  width: 72%;
  color: #fff;
  font-family: 'Apple Garamond', Arial, sans-serif;
  font-weight: normal;
  font-style: normal; }

@media screen and (max-width: 700px) {
  .endorsementWrapper {
    display: none; } }

.endorsementSubWrapper {
  position: absolute;
  bottom: 12.5%;
  right: 10%;
  display: block;
  width: 70%;
  padding: 1em;
  text-align: right; }

.endorsementWrapper h3 {
  text-align: right;
  font-size: 1.8em;
  opacity: 0.1;
  padding-right: 10px; }

.pictoQuote {
  color: #FC0;
  font-size: 3em;
  padding: 0 10px;
  font-style: normal; }

.endorsement {
  font-size: 1.7em;
  display: inline-block;
  margin-bottom: 10px;
  letter-spacing: 1.2px; }

.endorsement::before, .endorsement::after {
  color: #FC0;
  font-size: 1.8em;
  font-style: normal; }

.endorsement::before {
  content: "“";
  padding-right: 15px; }

.endorsement::after {
  content: "”";
  padding-left: 15px;
  position: absolute; }

.endorsementAuthor {
  opacity: .4;
  font-size: 1em;
  padding-right: 10px;
  letter-spacing: 1.1px;
  font-family: 'Apple Garamond', Arial, sans-serif;
  font-weight: normal;
  font-style: italic; }

/* Bar-Chart =============================================== */
#bar-chart {
  display: block; }

.bar-chart {
  list-style: none;
  height: 450px;
  position: relative;
  background: url(../images/axis.png) repeat-x;
  padding: 0;
  text-align: left;
  margin: 0px; }

.bar-chart .label {
  color: #666666;
  margin: -0.6em 0 88px 0;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: normal;
  text-shadow: 0px 1px 1px #ffffff; }

.bar-chart li {
  margin: 0 1.6% 0 0;
  display: inline-block;
  width: 16%;
  height: 100%;
  background-color: #CCC;
  text-align: center;
  font-weight: normal;
  color: #FFF;
  position: relative;
  font-size: 18px;
  font-size: 1.8rem;
  border: #BBB solid 1px;
  vertical-align: bottom;
  border-bottom: #BBB solid 1px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.6); }

.bar-chart li:nth-child(6n) {
  margin-right: 0; }

.bar-chart .percent,
.bar-chart .skill {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); }

.bar-chart .percent {
  opacity: 0.3;
  position: absolute;
  bottom: 35px;
  font-size: 60px;
  font-size: 6rem;
  width: 100%;
  line-height: 1em; }

.bar-chart .percent span {
  font-size: 24px;
  font-size: 2.4rem;
  padding-left: 3px; }

.bar-chart .skill {
  position: absolute;
  bottom: 20px;
  width: 100%;
  font-size: 16px;
  font-size: 1.6rem; }

.bar-chart .blue {
  height: 0px;
  border-color: #2298d8;
  background-color: #2298d8; }

.bar-chart .red {
  border-color: #e14949;
  background-color: #da6d6c;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ca4544), color-stop(1, #da6d6c));
  background-image: -ms-linear-gradient(bottom, #ca4544, #da6d6c);
  /*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
  background-image: -moz-linear-gradient(center bottom, #ca4544 0%, #da6d6c 100%);
  background-image: -o-linear-gradient(bottom, #ca4544, #da6d6c); }

.bar-chart li.axis {
  width: 8%;
  border: 0;
  border-right: #DDD solid 1px;
  height: 450px;
  background: #fff;
  -webkit-box-shadow: inset 0 0 0 0 #ffffff;
  -moz-box-shadow: inset 0 0 0 0 #ffffff;
  box-shadow: inset 0 0 0 0 #ffffff; }

/* Contact-Me  ============================================ */
#contactForm input, #contactForm textarea, #contactForm button {
  background-color: #fff;
  color: #414141;
  border: 1px solid #ccc; }

#contactForm button {
  margin-top: 20px;
  text-align: center;
  width: 100%; }
