/* =============================================================================
color codes
blue = #2298d8; rgb(34,152,216)
gray = #ccc; rgba(0,0,0,0.5)
============================================================================= */
@import 'main';



#main {
  text-align:center;

  &:focus {
    border: none;
    outline: none;}
}
.portfolio-body{
  background-color:#000;
  height:100%;}
.wrapper {
  width: 100%;
  height: 100%;
  display: table;
}
.subWrapper {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

/* Introduction  ============================================================ */
.sectionIntro {
  position: relative;
  transition: filter 1s, opacity 1s;
  color: $default-color;
  height: 100vh;

  &.hidden { opacity: 0; }

  .office-bg {
    background:url($bg-image);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .2;
    transition: filter 1s;

    &.blured { filter: blur(20px); }
  }

  .btnNext {
    cursor:pointer;

    @keyframes bouncingArrow {
      0% { margin-top: 0px; }
      100% { margin-top: 10px; }
    }

   .bouncing-arrow {
    animation-name: bouncingArrow;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    color:#fff;
    opacity: 1;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition: margin-top 1s;

    &:hover {opacity: .5;}
    }
  }

  /* -------------- role-title -------------*/
  .intro-title {
    color:#fff;
    display: inline-block;
    font-family: 'Roboto Th', Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    letter-spacing: .1em;
    font-size: 4em;
    position: relative;
    top: -80px;
    opacity: 1;
    transition: top 1s, opacity 1s;
    transition-delay: .3s;

    em {
      font-family: 'Montserrat', Arial, sans-serif;
      font-weight: normal;
      font-style: normal;
      text-transform: uppercase;
    }
  }

  /* -------------- my-roles ----------------*/
  &.hidden .intro-title, &.hidden .my-roles { opacity: 0; }
  .my-roles {
    color: #fff;
    display: inline-block;
    font-size: 1.7em;
    font-family: 'Roboto Lt', Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height:32px;
    margin-top: 35px;
    opacity: 1;
    transition: opacity 1s, top 1s;
    transition-delay: .3s;
    position: relative;
    top: -80px;

    h1 {
      color:#fff;

      span {
        margin-right:10px;
        font-size: .5em;
      }

      .role-title {
        font-family: 'Oxygen', Arial, sans-serif;
        font-weight:normal;
        color: $default-color;
        text-transform:uppercase;
      }
    }

    #location:hover {
      cursor: pointer;
      color: $default-color;}

    em {
      display:inline-block;
      position:relative;
      transition:none;

      .under-lined {
        position:absolute;
        height:2px;
        bottom:0;
        left:0;
        opacity:1;
        overflow: hidden;
        transition:opacity 1s, width 1s, margin 1s;
        width:100%;

        &:after {
          border-bottom: 2px dotted $default-color;
          content: "";
          display: block;
          position: absolute;
          height: 1px;
          width: 200%;
          top: 0;
          left: 2px;}
      }
    }
  }
}
.sectionIntro .statusUXDesigner, .sectionIntro .statusFrontDev {
  color: #ffff00;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-family: 'Stark', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;}

.sectionIntro .statusUXDesigner { margin-right: 15px; }
.sectionIntro .statusFrontDev {
  margin-left: 18px;
  margin-right: 15px;}

.wrapperBtnNextSection {
  position: absolute;
  bottom: 15%;
  display: block;
  color: #fff;
  opacity: 1;
  z-index: 1;
  height: 70px;
  width: 100%;
  text-align: center;
  transition: bottom 1s, opacity 1s, transform 1s;}
.wrapperBtnNextSection.beginningStep {
  bottom: 50px;
  opacity: 0;
  /*transform:scale(0);*/
  /*bottom:120px;*/}
.subWrapperBtnNextSection {
  display: inline-block;
  font-size: 2em;
  width: 70px;
  height: 70px;
  transition: transform .5s;}
.subWrapperBtnNextSection:hover { cursor: pointer; }
html:not(.can-touch) .subWrapperBtnNextSection:hover { color: #ffff00; }
@media screen and (max-width: 800px) {
  .subWrapperBtnNextSection .btnNextSection.movingArrow { animation: none; }
}

/* About Me  ================================================================ */
#aboutMe {
  background-color:#fff;
  padding:90px 0;
  text-align:center;
  position:relative;
  overflow:hidden;
  display:block;
  box-sizing:border-box;

  .resume {
    display:inline-block;
    border:1px solid $default-color;
    border-radius:4px;
    color: $default-color;
    visibility:hidden;
    width:1px;
    /* width:60px; */
    /* height:60px; */
    opacity:0;
    margin-right:0px;
    margin-left:0px;
    z-index:1;
    vertical-align:middle;

    &:hover {
      opacity: 1;

      svg { opacity: .5;}
      }
    span {
      width:100%;
      display:table-cell;
      vertical-align:middle;
      padding:10px;
    }
    svg {
      font-size:40px;
      color: $default-color;
      margin-left:5px;
    }
  }
}

/* Endorsements  ============================================================ */
.endorsementWrapper, .mainMenuLinks {
  height: 50%;
  top: 25%;
  position: absolute;
}
.endorsementWrapper {
  background-color: rgba(0, 0, 0, 0.1);
  width: 72%;
  color: #fff;
  font-family: 'Apple Garamond', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}
@media screen and (max-width: 700px) {.endorsementWrapper { display: none; }}
.endorsementSubWrapper {
  position: absolute;
  bottom: 12.5%;
  right: 10%;
  display: block;
  width: 70%;
  padding: 1em;
  text-align: right;
}
.endorsementWrapper h3 {
  text-align: right;
  font-size: 1.8em;
  opacity: 0.1;
  padding-right: 10px;
}
.pictoQuote {
  color: #FC0;
  font-size: 3em;
  padding: 0 10px;
  font-style: normal;
}
.endorsement {
  font-size: 1.7em;
  display: inline-block;
  margin-bottom: 10px;
  letter-spacing: 1.2px;
}
.endorsement::before, .endorsement::after {
  color: #FC0;
  font-size: 1.8em;
  font-style: normal;
}
.endorsement::before {
  content: "“";
  padding-right: 15px;
}
.endorsement::after {
  content: "”";
  padding-left: 15px;
  position: absolute;
}
.endorsementAuthor {
  opacity: .4;
  font-size: 1em;
  padding-right: 10px;
  letter-spacing: 1.1px;
  font-family: 'Apple Garamond', Arial, sans-serif;
  font-weight: normal;
  font-style: italic;
}
/* My Skills ================================================================ */
#mySkills {
  background-color: $default-section-bg-alt;
  padding:90px 0;
  text-align:center;
  position:relative;
  overflow:hidden;
  display:block;
  box-sizing:border-box;
}
/* -------------- bar chart ----------------*/
.bar-chart-wrapper {
  padding:50px 0;
  width:60%;
  margin:0 auto 0 auto;
  display: block;

  .bar-chart {
    list-style: none;
    height: 450px;
    position: relative;
    background: url(../img/axis.png) repeat-x;
    border-bottom: 1px dotted #ccc;
    padding: 0;
    text-align:left;
    margin: 0px;

    .label {
      color: #666666;
      margin: -0.6em 0 100px 0;
      font-size: 12px;
      font-size: 1rem;
      font-weight: normal;
      text-shadow: 0px 1px 1px #ffffff;
    }

    li {
      margin: 0 1.6% 0 0;
      display: inline-block;
      width: 16%;
      height: 100%;
      text-align: center;
      font-weight: normal;
      color: #FFF;
      position: relative;
      font-size: 18px;
      font-size: 1.8rem;
      border: #BBB solid 1px;
      vertical-align: bottom;
      border-bottom: #BBB solid 1px;
      -moz-border-radius-topleft: 3px;
      -moz-border-radius-topright: 3px;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-top-right-radius: 3px;
      -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
      -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
      box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.6);

      &:nth-child(6n) {margin-right: 0;}
    }

    .percent, .skill {text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);}
    .percent {
      opacity: 0.3;
      position: absolute;
      bottom: 35px;
      font-size: 60px;
      font-size: 3em;
      width: 100%;
      line-height: 1em;

      span {
        font-size: 24px;
        font-size: 2rem;
        padding-left: 3px;}
    }

    .skill {
    position: absolute;
    bottom: 20px;
    width: 100%;
    font-size: 16px;
    font-size: .8em;}
  }
}


.bar-chart .blue {
  height:0px;
  border-color: $default-color;
  background-color: $default-color;
}
.bar-chart .red {
  border-color: #e14949;
  background-color: #da6d6c;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ca4544), color-stop(1, #da6d6c));
  background-image: -ms-linear-gradient(bottom, #ca4544, #da6d6c);
  /*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
  background-image: -moz-linear-gradient(center bottom, #ca4544 0%, #da6d6c 100%);
  background-image: -o-linear-gradient(bottom, #ca4544, #da6d6c);
}
.bar-chart li.axis {
  width: 8%;
  border: 0;
  border-right: #DDD solid 1px;
  height: 452px;
  background: $default-section-bg-alt;
  -webkit-box-shadow: inset 0 0 0 0 #ffffff;
  -moz-box-shadow: inset 0 0 0 0 #ffffff;
  box-shadow: inset 0 0 0 0 #ffffff;
}

@media only screen and (max-width: 768px){
  .bar-chart-wrapper {
    width:80%;

    .bar-chart li {
      margin-right:5px;
    }
    .bar-chart li.axis {
      width:10%;
    }
    .bar-chart .percent { font-size:1.1em; }
    .bar-chart .skill {
      font-size: .5em;
      bottom:10px;}
    .bar-chart .label {
      text-align:left;
      font-size:.5em;}
  }
}
/* Contact-Me  ============================================================== */
#contactForm {

  input, textarea, button {
    background-color: $default-section-bg;
    color: #414141;
    border:1px solid #ccc;
  }
  button {
    margin-top:20px;
    text-align:center;
    width:100%;
  }
}
/* Recent projects  ========================================================= */
#recentProjects {
  padding:90px 0;
  display: block;
  background-color: $default-section-bg;;
  text-align:center;
  /* position:relative; */
  overflow:hidden;
  box-sizing:border-box;
}

#recentProjects button span {
  margin-right:10px;}
#recentProjects ul {
  padding:0;
  margin:60px 15% 60px;
  list-style:none;
  box-sizing:border-box;
}
#recentProjects ul li {
  height:240px;
  cursor:pointer;
  display:block;
  overflow:hidden;
  border-right:2px solid #fff;
  margin-top:2px;
  transform: scale(1);
  position:relative;
  transition: width .6s, height 6s, transform .5s .6s, opacity .5s .6s, border-radius .5s;
  transform-origin: center center;
  list-style:none;
  box-sizing:border-box;
}
#recentProjects ul li.hidden { display:none; }
#recentProjects ul li:nth-child(1) { border-radius:10px 0 0 0; }
#recentProjects ul li:nth-child(3) { border-radius:0 10px 0 0; border-right:none;}
#recentProjects ul li:nth-child(4) { border-radius:0 0 0 10px; }
#recentProjects ul li:nth-child(6) { border-radius:0 0 10px 0; border-right:none;}
#recentProjects span.project {
  transition: none;
  background-position:center;
  background-size:cover;
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
  z-index:5;
}
#recentProjects .details-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  position: relative;
  z-index: 10;
  font-size: 1.2em;
  transition: opacity .5s;
}
#recentProjects .details-wrapper:hover { opacity: 1; }
.details-wrapper .details {
  display: table-cell;
  vertical-align:middle;
  padding:0 25px;
  transition: transform .5s;
  box-sizing:border-box;
}
.details-wrapper .details:hover {
  transform: scale(1.2);
}
.details-wrapper .workTitle {
  color: #fff;
  font-size: 1.1em;
  font-weight: normal;
  font-style: normal;
}
.details-wrapper .infoCompWork {
  opacity: 0.5;
  color: #fff;
  font-family: 'Roboto Lt', Arial, sans-serif;
  font-size: .6em;
  letter-spacing:.03em;
  font-weight: 100;
  margin-top: 2px;
  display: inline-block; }

.details-wrapper .infoCompWork .company-name {
  text-transform: uppercase;
}
.details-wrapper em {
  color: $default-color;
  font-weight:200;
  font-size: .8em;
  margin-top:20px;
  display: inline-block;
}
/* -------------- Project details --------------*/
.project-details {

  .previous-project, .next-project {
    border:1px solid #fff;
    color:#fff;
    position:relative;
    top:0;
    padding:0.7em 1.2em;}
  .previous-project {left:10px;}
  .next-project {right:10px;}

  i {
    color:#fff;
    margin-right:10px;}
  h2 {
      color:#fff;
      margin-bottom:0;
      padding-bottom:0;
      display: inline-block;}
  h3 {
    opacity:.5;
    font-size:1.2em;
    margin-top:10px;
    /* letter-spacing: .05em; */
    font-family:'Roboto Lt', Arial, sans-serif;
  }
  em {
    color: $default-color;
    font-size:1.3em;
    position:relative;
    margin-top:50px;
    display:inline-block;
    font-family:'Roboto', Arial, sans-serif;
  }
}

.project-summary {
  padding:60px 0;
  text-align:center;
  overflow:hidden;

  div.wrapper {
    &:first-child {
      font-weight:100;
      text-align:left;
      max-width:60%;
      margin:0 auto;
      font-family:'Roboto Lt';
      letter-spacing:.03em;}

    .row {
      padding-bottom:10px;
      &:last-child {padding-bottom:0;}
      div:first-child {font-weight:bold;}
    }

    ul {
      li {
        font-size:.8em;
        border-radius:4px;
        color:#fff;
        background-color:#2298d8;
        padding:2px 10px;
        display:inline-block;
        margin:0 5px 5px 0;}
    }
  }
}
/* -------------- Project slides ------------------ */
.project-slides {
  position:relative;
  overflow:hidden;

   button {
    position:absolute;
    top:250px;
    box-shadow:none;
    border:none;

    &.prev-slide {left:5%;}
    &.next-slide {right:5%;}
    svg {
      color:#ccc;}
  }

  img {
    height:100%;
    width:100%;
    max-width:1024px;}

  .slide {
      span {
        display:block;
        padding:40px 0;
        width:80%;
        margin:0 auto;
        min-height:60px;
      }
    }
}
/* -------------- Project navigation ------------- */
.proj-slides-nav {
  background-color:#f7f7f7;
  padding:20px 0;
  border-top:3px solid #f2f2f2;
  border-bottom:3px solid #f2f2f2;

  ul {
    list-style-type:none;

    li {
      display:inline-block;
      margin-right:5px;
      vertical-align:middle;

        button {
          height:12px;
          width:12px;
          line-height:12px;
          background-color:transparent;
          border:none;
          box-shadow:none;
          padding:0;}

        span {
          transition:.3s;
          border-radius:50%;
          width:100%;
          height:100%;
          display:block;
          background-color:#ccc;
          &.active {background-color:#2298d8;}
        }
      }
  }
}
/* -------------- Project images ------------- */
@media only screen and (max-width: 800px) {
  .project-img { max-width:640px; }
}
@media only screen and (min-width: 1192px) {
  .project-img { max-width:1024px; }
}

#sectWorkSlides {background-color: #fff;}
#sectUXDeliverables {
  h2 {
    color:#000;
    margin-bottom:40px;}
  h3 {
    opacity: 0.5;
    margin-top:10px;}
  em {
    color: $default-color;
    font-size:1.3em;
    font-family: 'Roboto', Arial, sans-serif;
    letter-spacing: .05em;}
  div:first-child {margin-top:80px;}
  ul#lstUXDeliverables li {
    display:inline-block;
    font-family:'Roboto Lt', Arial, sans-serif;
    font-weight:100;
    border-radius:4px;
    background-color: $default-color;
    color:#fff;
    padding:5px 10px;
    font-size:12px;
    margin:2px;

    &.hide {display:none;}
  }
}
/* Footer  ================================================== */
#footer {
  overflow:hidden;
  position:relative;
  text-align:center;

  .office-bg-footer {
    background:url($bg-image);
    position:absolute;
    bottom:0;
    left:0;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    display: block;
    width: 100%;
    height:100%;
    opacity: .07;
    z-index:-1;
  }

  svg.selectable:hover {
    cursor:pointer;
    opacity:.5;}

  .footer-ico {
    color:#f7f7f7;
    padding-top:67px;
    padding-bottom:30px;

    div:first-child{
      margin-bottom:20px;
      font-size:26px;}

    div svg{
      font-size:1.3em !important;
      color:#fff;}

    a {
      color:#939393;
      text-decoration:none;}

    div:last-child {color:#939393;}
  }

  .footer-social-ico {
    background: $default-color;
    padding:70px 0;
    position:relative;
    text-align:center;

    p {
      padding:0;
      font-size:12px;
      color:#fff;}

      li {
       display:inline-block;
       margin:5px 10px;

         svg {
           box-sizing:border-box;
           color:#fff;
           font-size:2em;
           vertical-align:middle;}
      }
    }
}

@media only screen and (max-width: 400px) {
  .footer-ico, .footer-social-ico p { font-size:1.4em; }
  .footer-social-ico {
    margin-top: 40px;
    margin-bottom: 15px;

    ul li svg { font-size:2.8em !important; }
    }
}
