/* Page =================================================== */
html {
  background: #FFFFFF;
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  background-color: transparent;
  font-size: 18px;
  color: #111111;
  text-rendering: optimizeLegibility;
}
/* fonts =================================================== */
@font-face {
    font-family: "designer_block";
    src: local(designer_block),
    url('fonts/designer_block.ttf') format('opentype'),
    url('fonts/designer_block-webfont.woff') format('woff'),
    url('fonts/designer_block-webfont.woff2') format('woff2');
}
/*   font-family: "Designer Block"; */
/* Layout ================================================== */
.row {
  clear: both;
  max-width: 1040px;
  margin: 0 auto;
}
.col-1 {
  width: 4.80769231%;
}
.col-2 {
  width: 13.46153846%;
}
.col-3 {
  width: 22.11538462%;
}
.col-4 {
  width: 30.76923077%;
}
.col-5 {
  width: 39.42307692%;
}
.col-6 {
  width: 48.07692308%;
}
.col-7 {
  width: 56.73076923%;
}
.col-8 {
  width: 65.38461538%;
}
.col-9 {
  width: 74.03846154%;
}
.col-10 {
  width: 82.69230769%;
}
.col-11 {
  width: 91.34615385%;
}
.col-12 {
  width: 100%;
  margin: 0;
}
/* Bar-Chart =============================================== */
#bar-chart {
  display: block;
}
.bar-chart {
  list-style: none;
  height: 450px;
  position: relative;
  background: url(../images/axis.png) repeat-x;
  padding: 0;
  text-align:left;
  margin: 0px;
}
.bar-chart .label {
  color: #666666;
  margin: -0.6em 0 88px 0;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: normal;
  text-shadow: 0px 1px 1px #ffffff;
}
.bar-chart li {
  margin: 0 1.6% 0 0;
  display: inline-block;
  width: 16%;
  height: 100%;
  background-color: #CCC;
  text-align: center;
  font-weight: normal;
  color: #FFF;
  position: relative;
  font-size: 18px;
  font-size: 1.8rem;
  border: #BBB solid 1px;
  vertical-align: bottom;
  border-bottom: #BBB solid 1px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
}
.bar-chart li:nth-child(6n) {
  margin-right: 0;
}
.bar-chart .percent,
.bar-chart .skill {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}
.bar-chart .percent {
  opacity: 0.3;
  position: absolute;
  bottom: 35px;
  font-size: 60px;
  font-size: 6rem;
  width: 100%;
  line-height: 1em;
}
.bar-chart .percent span {
  font-size: 24px;
  font-size: 2.4rem;
  padding-left: 3px;
}
.bar-chart .skill {
  position: absolute;
  bottom: 20px;
  width: 100%;
  font-size: 16px;
  font-size: 1.6rem;
}
.bar-chart .blue {
  height:0px;
  border-color: #2298d8;
  background-color: #2298d8;
}
.bar-chart .red {
  border-color: #e14949;
  background-color: #da6d6c;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ca4544), color-stop(1, #da6d6c));
  background-image: -ms-linear-gradient(bottom, #ca4544, #da6d6c);
  /*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
  background-image: -moz-linear-gradient(center bottom, #ca4544 0%, #da6d6c 100%);
  background-image: -o-linear-gradient(bottom, #ca4544, #da6d6c);
}
.bar-chart li.axis {
  width: 8%;
  border: 0;
  border-right: #DDD solid 1px;
  height: 450px;
  background: #fff;
  -webkit-box-shadow: inset 0 0 0 0 #ffffff;
  -moz-box-shadow: inset 0 0 0 0 #ffffff;
  box-shadow: inset 0 0 0 0 #ffffff;
}
